:root {
  --lgbt-red: #ff0018;
  --lgbt-orange: #ffa52c;
  --lgbt-yellow: #ffff41;
  --lgbt-green: #008018;
  --lgbt-blue: #0000f9;
  --lgbt-purple: #86007d;
}

#wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container h1 {
  margin: 0.35em auto;
  cursor: default;
  font-size: 4em;
  text-stroke: 2px rgba(155, 155, 155);
  -webkit-text-stroke: 2px rgba(255, 255, 255);
  transition-duration: 1s;
}

#container h1:hover {
  transform: translateX(-0.05em);
  animation: none;
  color: rgba(255, 255, 255);
  text-stroke: 2px #191919;
  -webkit-text-stroke: 2px #191919;
  transition-duration: 1.5s;
  text-shadow: 5px 4px 0px var(--lgbt-red), 10px 8px 0px var(--lgbt-orange),
    15px 12px 0px var(--lgbt-yellow), 20px 16px 0px var(--lgbt-green),
    25px 20px 0px var(--lgbt-blue), 30px 24px 0px var(--lgbt-purple),
    40px 32px 0px #191919, 45px 36px 0px #191919;
}
