.paddingX {
  margin: 0 5rem;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 15px;
  border: 2px solid black;
  color: black;
}

.leftAligned {
  text-align: left;
}

.titles {
  font-size: 1.3rem;
  font-weight: bold;
}
